.advertiser-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    height: 650px;
    width: 100%;
    background-image: var(--myGradient);
}

@keyframes blink {
    to {border-right: 5px solid var(--pink-custom); border-bottom: 5px solid var(--pink-custom);}
}

.innutri-desktop-img {
    width: 800px;
    margin-bottom: -50px;
}


@media screen and (max-width: 1200px) {
    .advertiser-container {
        height: 650px;
        
    }
    .innutri-desktop-img {
        max-width: 90%;
        margin-bottom: -50px;
    }
}

@media screen and (max-width: 1012px) {

}

@media screen and (max-width: 520px) {
    .advertiser-container {
        height: 350px;
        
    }
    .innutri-desktop-img {
        max-width: 90%;
        margin-bottom: 0px;
    }
}