.advertiser-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 40px 0 60px 0;
    height: 700px;
    width: 100%;
    background-image: url('../../assets/png/Innutri_Desktop@2x.png'), var(--myGradient);
    background-position: center;
    background-size: 65%, cover;
    background-repeat: no-repeat;
}


@media screen and (max-width: 1200px) {
    .advertiser-container {
        height: 650px;
        
    }

}

@media screen and (max-width: 1012px) {
    .advertiser-container {
        background-size: 70%, cover;
    }
}

@media screen and (max-width: 900px) {
    .advertiser-container {
        background-size: 80%, cover;
    }
}

@media screen and (max-width: 520px) {
    .advertiser-container {
        height: 720px;
        // padding: 40px 0 60px 0;
        padding: 0;
        padding-bottom: 60px;
        background-image: url('../../assets/png/Innutri_Mobile@2x.png'), var(--myGradient);
        background-size: 80%, cover;
        background-position: 50% 25%, center;
    }
}

@media screen and (max-width: 375px) {
    .advertiser-container {
        height: 650px;
    }
}