.App {
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
    background-image: url('./assets/jpg/image_02.jpg');
}

.app-backdrop {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(2px);
    overflow: scroll;
}

.wrapper {
    width: 80%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1400px) {
    .wrapper {
        width: 90vw;
    }
}

@media screen and (max-width: 1200px) {
    .wrapper {
        width: 100vw;
    }
}

@media screen and (max-width: 520px) {

}


