@import url("//hello.myfonts.net/count/3a6f59");

  
@font-face {font-family: 'TTCommons-Black';src: url('webfonts/3A6F59_0_0.eot');src: url('webfonts/3A6F59_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A6F59_0_0.woff2') format('woff2'),url('webfonts/3A6F59_0_0.woff') format('woff'),url('webfonts/3A6F59_0_0.ttf') format('truetype');}
 
@font-face {font-family: 'TTCommons-DemiBold';src: url('webfonts/3A6F59_1_0.eot');src: url('webfonts/3A6F59_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A6F59_1_0.woff2') format('woff2'),url('webfonts/3A6F59_1_0.woff') format('woff'),url('webfonts/3A6F59_1_0.ttf') format('truetype');}
  
@font-face {font-family: 'TTCommons-ExtraBold';src: url('webfonts/3A6F59_2_0.eot');src: url('webfonts/3A6F59_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A6F59_2_0.woff2') format('woff2'),url('webfonts/3A6F59_2_0.woff') format('woff'),url('webfonts/3A6F59_2_0.ttf') format('truetype');}
  
@font-face {font-family: 'TTCommons-ExtraBoldItalic';src: url('webfonts/3A6F59_3_0.eot');src: url('webfonts/3A6F59_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A6F59_3_0.woff2') format('woff2'),url('webfonts/3A6F59_3_0.woff') format('woff'),url('webfonts/3A6F59_3_0.ttf') format('truetype');}
  
@font-face {font-family: 'TTCommons-Bold';src: url('webfonts/3A6F59_4_0.eot');src: url('webfonts/3A6F59_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A6F59_4_0.woff2') format('woff2'),url('webfonts/3A6F59_4_0.woff') format('woff'),url('webfonts/3A6F59_4_0.ttf') format('truetype');}
  
@font-face {font-family: 'TTCommons-ExtraLightItalic';src: url('webfonts/3A6F59_5_0.eot');src: url('webfonts/3A6F59_5_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A6F59_5_0.woff2') format('woff2'),url('webfonts/3A6F59_5_0.woff') format('woff'),url('webfonts/3A6F59_5_0.ttf') format('truetype');}
  
@font-face {font-family: 'TTCommons-DemiBoldItalic';src: url('webfonts/3A6F59_6_0.eot');src: url('webfonts/3A6F59_6_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A6F59_6_0.woff2') format('woff2'),url('webfonts/3A6F59_6_0.woff') format('woff'),url('webfonts/3A6F59_6_0.ttf') format('truetype');}
  
@font-face {font-family: 'TTCommons-Medium';src: url('webfonts/3A6F59_7_0.eot');src: url('webfonts/3A6F59_7_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A6F59_7_0.woff2') format('woff2'),url('webfonts/3A6F59_7_0.woff') format('woff'),url('webfonts/3A6F59_7_0.ttf') format('truetype');}
  
@font-face {font-family: 'TTCommons-Regular';src: url('webfonts/3A6F59_8_0.eot');src: url('webfonts/3A6F59_8_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A6F59_8_0.woff2') format('woff2'),url('webfonts/3A6F59_8_0.woff') format('woff'),url('webfonts/3A6F59_8_0.ttf') format('truetype');}
  
@font-face {font-family: 'TTCommons-LightItalic';src: url('webfonts/3A6F59_9_0.eot');src: url('webfonts/3A6F59_9_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A6F59_9_0.woff2') format('woff2'),url('webfonts/3A6F59_9_0.woff') format('woff'),url('webfonts/3A6F59_9_0.ttf') format('truetype');}
  
@font-face {font-family: 'TTCommons-Light';src: url('webfonts/3A6F59_A_0.eot');src: url('webfonts/3A6F59_A_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A6F59_A_0.woff2') format('woff2'),url('webfonts/3A6F59_A_0.woff') format('woff'),url('webfonts/3A6F59_A_0.ttf') format('truetype');}
  
@font-face {font-family: 'TTCommons-ThinItalic';src: url('webfonts/3A6F59_B_0.eot');src: url('webfonts/3A6F59_B_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A6F59_B_0.woff2') format('woff2'),url('webfonts/3A6F59_B_0.woff') format('woff'),url('webfonts/3A6F59_B_0.ttf') format('truetype');}
  
@font-face {font-family: 'TTCommons-Italic';src: url('webfonts/3A6F59_C_0.eot');src: url('webfonts/3A6F59_C_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A6F59_C_0.woff2') format('woff2'),url('webfonts/3A6F59_C_0.woff') format('woff'),url('webfonts/3A6F59_C_0.ttf') format('truetype');}
  
@font-face {font-family: 'TTCommons-Thin';src: url('webfonts/3A6F59_D_0.eot');src: url('webfonts/3A6F59_D_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A6F59_D_0.woff2') format('woff2'),url('webfonts/3A6F59_D_0.woff') format('woff'),url('webfonts/3A6F59_D_0.ttf') format('truetype');}
  
@font-face {font-family: 'TTCommons-MediumItalic';src: url('webfonts/3A6F59_E_0.eot');src: url('webfonts/3A6F59_E_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A6F59_E_0.woff2') format('woff2'),url('webfonts/3A6F59_E_0.woff') format('woff'),url('webfonts/3A6F59_E_0.ttf') format('truetype');}
  
@font-face {font-family: 'TTCommons-BoldItalic';src: url('webfonts/3A6F59_F_0.eot');src: url('webfonts/3A6F59_F_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A6F59_F_0.woff2') format('woff2'),url('webfonts/3A6F59_F_0.woff') format('woff'),url('webfonts/3A6F59_F_0.ttf') format('truetype');}
  
@font-face {font-family: 'TTCommons-BlackItalic';src: url('webfonts/3A6F59_10_0.eot');src: url('webfonts/3A6F59_10_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A6F59_10_0.woff2') format('woff2'),url('webfonts/3A6F59_10_0.woff') format('woff'),url('webfonts/3A6F59_10_0.ttf') format('truetype');}
  
@font-face {font-family: 'TTCommons-ExtraLight';src: url('webfonts/3A6F59_11_0.eot');src: url('webfonts/3A6F59_11_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3A6F59_11_0.woff2') format('woff2'),url('webfonts/3A6F59_11_0.woff') format('woff'),url('webfonts/3A6F59_11_0.ttf') format('truetype');}
 

:root {
  --gray-custom: #E4DFDA;
  --white-custom: white;
  --yellow-custom: #F3C26A;
  --green-custom: #ADCB9F;
  --pink-custom: #FD6D7D;
  --myGradient: radial-gradient(#FFB1B9, #FD6D7D);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

